<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Marko Templating Engine - Loopback Rest Api</title>
    </head>
    <body>
        <h1>
            Hello ${data.name}! Error processing your request!
        </h1>
        <b>${data.error}<b>
    </body>
</html>