<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lista de Clientes</title>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site-examples.css?_=d9c2c842fd3bd3ec7e90423dc6c620c1">
        <script>
            $(document).ready(function() {
                $('#example').DataTable();
            } );
        </script>
    </head>
    <body class="wide comments example">
    <div class="fw-container">
        <div class="nav-main">&nbsp;</div>
        <div class="fw-body">
			<div class="content">
                <h1 class="page_title">Lista de Clientes</h1>
                <div class="info">&nbsp;</div>
                <table id="example" class="display" cellspacing="0" width="80%"  if(notEmpty(data.clientes))>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr for(cliente in data.clientes)>
                            <td>${cliente.Nome}</td>
                            <td>${cliente.Email}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </body>
</html>