<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Marko Templating Engine - Loopback Rest Api</title>
    </head>
    <body>
        <h1>
            Hello ${data.name}!
        </h1>
    </body>
</html>